body{
    background-color: #F3F3F3;
}

#pickUpPlace{
    display: block;
    width:16%;
    margin:0;
    padding:0;
}

#deliveryPlace{
    display: block;
    width:16%;
    margin:0;
    padding:0;
}

#startRentDate{
    width:8%;
    margin:0;
    padding:0;
}

#endRentDate{
    width:8%;
    margin:0;
    padding:0;
}

#findRentalButton{
    width:16%;
    margin:0;
    padding:0;
}
