       <div class="row">
            <form action="add-new-car" class="col-xs-12">
                <div class="main-details col-sm-3">
                    <label for="brand" class="sr-only">Brand</label>
                    <input type="text" id="brand" class="form-control" placeholder="Brand" required>

                    <label for="model" class="sr-only">Model</label>
                    <input type="text" id="model" class="form-control" placeholder="Model" required>

                    <label for="year" class="sr-only">Year</label>
                    <input type="number" id="year" class="form-control" placeholder="Year" required>

                    <select name="" id="seats" class="form-control">
                        <optgroup label="Seats">
                            <option value="2">2</option>
                            <option value="5">4 + 1</option>
                            <option value="7">6 + 1</option>
                        </optgroup>
                    </select>

                    <select name="" id="fuel" class="form-control">
                        <optgroup label="Fuel">
                            <option value="gazoline">Gazoline</option>
                            <option value="diesel">Diesel</option>
                            <option value="hybrid">Hybrid</option>
                        </optgroup>
                    </select>

                    <label for="link" class="sr-only">Brand</label>
                    <input type="text" id="link" class="form-control" placeholder="Image link" required>
                </div>
                <div class="optional-details col-sm-3">
                    <div class="checkbox form-control">
                        <label>
                            Insuarance
                            <input type="checkbox" value="insuarance">
                        </label>
                        <label>
                            Leather
                            <input type="checkbox" value="leather">
                        </label>
                    </div>
                    <div class="checkbox form-control">
                        <label>
                            Authomatic
                            <input type="checkbox" value="authomatic">
                        </label>
                        <label>
                            GPS
                            <input type="checkbox" value="gps">
                        </label>
                    </div>
                    <div class="checkbox form-control">
                        <label>
                            Air Conditioner
                            <input type="checkbox" value="air-condition">
                        </label>
                        <label>
                            4x4
                            <input type="checkbox" value="quatro">
                        </label>
                    </div>
                </div>
                <a href="#/add-new-car" id="add-car-submmit" class="btn btn-success">Submit</a>
            </form>
        </div>