<div class="row">
    <ul class="nav nav-pills" id="grid-pagination">
    </ul>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <button id="hide-grid" class="btn-success">Hide gallery</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="grid-container">
        </div>
    </div>
</div>