<li>
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
            Show
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" id="show-available-cars">Most Popular</a></li>
            <li><a href="#">Newest</a></li>
        </ul>
    </div>
</li>
<li>
    <div class="dropdown">
        <button id="sortBrand" class="btn dropdown-toggle" type="button" data-toggle="dropdown">
            Order by
        </button>
        <ul class="dropdown-menu">
            <li id="sortByPricePerDay"><a tabindex="-1"  href="#">Price</a></li></li>
            <li id="sortBySeats"><a tabindex="-1" href="#">Seats</a></li>
            <li id="sortByFuel"><a tabindex="-1" href="#">Fuel</a></li>
            <li id="sortByGears"><a tabindex="-1" href="#">Gears</a></li>
            <li ><a tabindex="-1" href="#">Fuel Consumption</a></li>
            <li id="sortByYear"><a tabindex="-1" href="#">Year</a></li>

            <!--TODO: Move submenu to right-->
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="#">Extras<span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu">
                    <li><a tabindex="-1" href="#">4x4</a></li>
                    <li><a tabindex="-1" href="#">Leather</a></li>
                    <li><a tabindex="-1" href="#">Authomatic</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!--TODO: Move script to its own file-->
</li>
<li>
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
            Ascending
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Ascending</a></li>
            <li><a href="#">Descending</a></li>
        </ul>
    </div>
</li>
<li class="nav-menu-item"><span class="color-white">Search</span><input type="text" class="nav-search"></li>