<a href="#" id="logged-username">{{name}}</a>
<a href="#" id="logout-user" class="btn btn-danger">Logout</a><br>
{{#if adminRules}}
<a href="#/add-car" id="add-car-btn" class="btn btn-add btn-primary">Add car</a>
<a href="#/view-active-orders" id="view-active--orders-btn" class="btn btn-add btn-success">View Active Orders</a>
{{/if}}