       <div class="row">
            <form  id="add-new-order" class="col-xs-12">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-5">
                        <h1>Create your new Order</h1>
                    </div>
                    <div class="col-sm-3"></div>                    
                </div>

                <div class="row">
                    <div class="main-details col-sm-3">
                        <label for="Pick Up Place" class="sr-only">Pick up place</label>
                        <input type="text" id="Pick Up Place" class="form-control" placeholder="Pick up place" required>
                    </div>
                    <div class="main-details col-sm-3">
                        <label for="deliveryPlace" class="sr-only">Delivery place</label>
                        <input type="text" id="deliveryPlace" class="form-control" placeholder="Delivery place" required>
                    </div>
                    <div class="main-details col-sm-3">
                        <label for="startDate" class="sr-only">Start date</label>
                        <input type="text" id="startDate" class="form-control" placeholder="Start date" required>
                    </div>
                    <div class="main-details col-sm-3">
                        <label for="endDate" class="sr-only">End date</label>
                        <input type="text" id="endDate" class="form-control" placeholder="End date" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5"></div>
                    
                    <div class="col-sm-5">
                        <a href="#/add-new-order" id="add-order-submmit" class="btn btn-success btn-lg">Submit</a>
                    </div>
                </div>
                <div class="row">
                     <div class="col-sm-4"></div>
                     <div class="col-sm-6">
                        <h1 id="succes-submit" class="hidden">Order added succesfully</h1>
                     </div>
                </div>
            </form>
        </div>