<div class="row">
   <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 col-md-offset-5 bg-info well">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="pickUpPlace">Enter PickUp Place:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <select class="form-control" id="sel1">
                                    <option>Sofia</option>
                                    <option>Plovdiv</option>
                                    <option>Varna</option>
                                    <option>Burgas</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="deliveryPlace">Enter Delivery Place:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <select class="form-control" id="sel1">
                                    <option>Sofia</option>
                                    <option>Plovidv</option>
                                    <option>Varna</option>
                                    <option>Burgas</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="startRentDate">Start Date</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="date" name="" value="" id="startRentDate" placeholder="Start Date" style="color:gray">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="endRentDate">End Date</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="date" name="" value="" id="endRentDate" placeholder="End Date" style="color:gray">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button id="show-available-cars" class="btn btn-block btn-success">Find Available Rentals</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>