<form id="register-form">
    <h4 class="register-heading">Please register</h4>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
    <input type="text" id="firstName" name="firstname" class="form-control" placeholder="First name" required="">
    <input type="text" id="lastName" name="lastname" class="form-control" placeholder="Last name" required="">
    <button id="register-btn" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>